.list-button{
	background: rgb(64, 166, 255);
	color: #fff !important;
}
.textbox{
	background: rgb(64, 166, 255);
	height:100px;
	margin:0 0 20px 0;
	text-align: center;
	line-height: 100px;
	color:#fff;
}
.gamebox{
	background: green;
	text-align: center;
	float: left;
	font-size: 12px;
}
.step-text{
	text-align: center;
	color:green;
	font-size:28px;
	font-weight: bold;
}
.step-to-sick{
	color:red;
	font-size:22px;
}